<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.CourseMapper">


	 <resultMap type="Course" id="CourseResult">
		<id property="cNo" column="c_no"/>
		<result property="cName" column="c_name"/>
		<result property="tuition" column="tuition"/>
		<result property="capacity" column="capacity"/>
		<result property="cStartdate" column="c_startdate"/>
		<result property="cEnddate" column="c_enddate"/>
		<result property="classroom" column="classroom"/>
		<result property="isCanceled" column="is_canceled"/>
		<association property="teacher" resultMap="com.dgit.mapper.TeacherMapper.TeacherResult"/>
		<association property="subject" resultMap="com.dgit.mapper.SubjectMapper.SubjectResult"/>		
		<association property="studentGrade" resultMap="com.dgit.mapper.StudentGradeMapper.StudentGradeResult"/>
		<association property="content" resultMap="com.dgit.mapper.CourseMapper.CourseDetailResult"/>
		<collection property="pictures" resultMap="com.dgit.mapper.CourseMapper.CourseImageResult"/>
		<collection property="timetables" resultMap="com.dgit.mapper.TimetableMapper.TimetableReslutWithCourse"/>
		<collection property="courseRegisters" resultMap="com.dgit.mapper.CourseRegisterMapper.CourseRegisterResult"/>
	</resultMap>
	
	<resultMap type="CourseImage" id="CourseImageResult">
		<id property="cPicture" column="c_picture"/>
		<result property="cNo" column="c_no"/>
	</resultMap>
	
	<resultMap type="CourseDetail" id="CourseDetailResult">
		<id property="cNo" column="c_no"/>
		<result property="cContent" column="c_content"/>
	</resultMap>
	
	<sql id="selectRegisteredCoursesByCri">
		SELECT cr.*, c.c_name, ttt.*, t.t_name, sb.sb_no, sb.sb_name FROM course c
		inner join subject sb on sb.sb_no = c.sb_no
		inner join teacher t on t.t_id = c.t_id
		inner join course_register cr on cr.reg_c_no = c.c_no
		inner join timetable ttt on ttt.c_no = cr.reg_c_no
	</sql>
	
	<sql id="selectCourse">
		SELECT c.*, t.t_name, sg.gd_name, s.sb_name, ttt.* FROM course c 
		inner join subject s on c.sb_no = s.sb_no
		inner join teacher t on c.t_id = t.t_id
		inner join student_grade sg on c.gd_no = sg.gd_no
		left outer join timetable ttt on ttt.c_no = c.c_no
	</sql>
	
	<sql id="countCourse">
		SELECT count(distinct(c.c_no)) FROM course c 
		inner join subject s on c.sb_no = s.sb_no
		inner join teacher t on c.t_id = t.t_id
		inner join student_grade sg on c.gd_no = sg.gd_no
		left outer join timetable ttt on ttt.c_no = c.c_no
	</sql>
	
	<sql id="selectCourseDetail">
		SELECT c.*, t.t_name, sg.gd_name, s.sb_name, ttt.*, cd.c_content, ci.c_picture FROM course c 
		inner join subject s on c.sb_no = s.sb_no
		inner join teacher t on c.t_id = t.t_id
		inner join student_grade sg on c.gd_no = sg.gd_no
		left outer join course_detail cd on cd.c_no = c.c_no
		left outer join course_image ci on ci.c_no = c.c_no
		left outer join timetable ttt on ttt.c_no = c.c_no
	</sql>
	
	<sql id="whereCoursesByCri">
		<if test="searchType != null">
			<if test="searchType == 'cName'.toString()">
				where c.c_name like CONCAT('%',#{keyword},'%')
			</if>
			<if test="searchType == 'subject'.toString()">
				where c.sb_no = #{keyword}
			</if>
			<if test="searchType == 'grade'.toString()">
				where c.gd_no = #{keyword}
			</if>
			<if test="searchType == 'ttDay'.toString()">
				where ttt.tt_day = #{keyword}
			</if>
			<if test="searchType == 'teacher'.toString()">
				where t.t_name like CONCAT('%',#{keyword},'%')
			</if>
			and c.is_canceled=0
		</if>
	</sql>
	
	<sql id="whereRegisteredCoursesByCri">
		<where>
			<if test="sId != null">
				cr.reg_s_id =#{sId}
			</if>
			<if test="tId != null">
				and t.t_id =#{tId}
			</if>
			<if test="regMonth != null">
				and cr.reg_month =#{regMonth}
			</if>
			<if test="registrationStatus != null">
				and cr.rs_no =#{registrationStatus}
			</if>
		</where>
	</sql>


	<insert id="insertCourse" parameterType="Course">
		INSERT INTO course 
		(t_id, c_name, tuition, capacity, c_startdate, c_enddate, classroom, sb_no, gd_no, is_canceled)
		VALUES(#{teacher.tId}, #{cName}, #{tuition}, #{capacity}, #{cStartdate}, #{cEnddate}, 
				#{classroom}, #{subject.sbNo}, #{studentGrade.gdNo}, 0)
	</insert>
	
	<insert id="insertCourseDetail" parameterType="CourseDetail">
		INSERT INTO course_detail (c_no, c_content) VALUES(#{cNo}, #{cContent})
	</insert>
	<insert id="insertCourseImage" parameterType="CourseImage">
		INSERT INTO course_image (c_picture, c_no) VALUES(#{cPicture}, #{cNo})
	</insert>
	
	<update id="updateCourseDetail" parameterType="CourseDetail">
		UPDATE course_detail SET c_content=#{cContent} WHERE c_no=#{cNo}
	</update>
	
	<delete id="deleteCourseDetail">
		DELETE FROM course_detail WHERE c_no=#{cNo}
	</delete>
	<delete id="deleteCourseImage" >
		DELETE FROM  course_image WHERE c_picture=#{cPicture}
	</delete>
	<delete id="deleteCourseImageByCno" >
		DELETE FROM  course_image WHERE c_no=#{cNo}
	</delete>
	
	<select id="selectOneCourseImage" resultMap="CourseImageResult">
		SELECT c_picture, c_no FROM course_image WHERE c_picture=#{cPicture}
	</select>
	<select id="selectListCourseImage" resultMap="CourseImageResult">
		SELECT c_picture, c_no FROM course_image WHERE c_no=#{cNo}
	</select>
	
	<select id="selectOneCourseDetial" resultMap="CourseDetailResult">
		SELECT c_no, c_content FROM course_detail WHERE c_no=#{cNo}
	</select>
	
	<update id="updateCourse" parameterType="Course">
		UPDATE course
		<set>
			<if test="teacher != null">
				t_id=#{teacher.tId},
			</if>
			<if test="cName != null">
				c_name= #{cName},
			</if>
			<if test="tuition != null">
				tuition=#{tuition},
			</if>
			<if test="capacity != null">
				capacity= #{capacity},
			</if>
			<if test="cStartdate != null">
				c_startdate=#{cStartdate},
			</if>
			<if test="cEnddate != null">
				c_enddate=#{cEnddate},
			</if>
			<if test="classroom != null">
				classroom=#{classroom},
			</if>
			<if test="subject != null">
				sb_no=#{subject.sbNo},
			</if>
			<if test="studentGrade != null">
				gd_no=#{studentGrade.gdNo}
			</if>
		</set>
			WHERE c_no=#{cNo}
	</update>
	
	<delete id="deleteCourse">
		UPDATE course SET is_canceled=1 WHERE  c_no=#{cNo}
	</delete>
	
	<select id="selectOneCourse" resultMap="CourseResult">
		<include refid="selectCourseDetail"/>
		WHERE c.c_no=#{cNo}
	</select>
	
	<select id="selectAllCourse" parameterType="SearchCriteria" resultMap="CourseResult">
		<include refid="selectCourse"/>
		<include refid="whereCoursesByCri"/>
		order by c.c_no desc
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="lastCourseId" resultType="int">
		select max(c_no) from course 
		<!-- select last_insert_id() from course -->
	</select>
	
	<select id="countCourses" parameterType="SearchCriteria" resultType="int">		
		<include refid="countCourse"/>
		<include refid="whereCoursesByCri"/>
	</select>
	
	<select id ="selectCoursesByCri" parameterType="Hashmap"  resultMap="CourseResult">
		<include refid="selectRegisteredCoursesByCri"/>
		<include refid="whereRegisteredCoursesByCri"/>
		<if test="tId != null">
			group by cr.reg_c_no, ttt.tt_day
		</if>
	</select>
 
</mapper>