<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.CourseRegisterMapper">


	 <resultMap type="CourseRegister" id="CourseRegisterResult">
		<id property="regNo" column="reg_no"/>
		<result property="regMonth" column="reg_month"/>
		<result property="cNo" column="c_no"/>
		<association property="registrationStatus" resultMap="com.dgit.mapper.RegistrationStatusMapper.RegistrationStatusResult"/>
		<association property="student" resultMap="com.dgit.mapper.StudentMapper.StudentResult"/>
	</resultMap>


	<sql id="selectSql">
		SELECT cr.*, c.c_name FROM course_register cr
		inner join course c on cr.reg_c_no = c.c_no
		left outer join timetable ttt on ttt.c_no = cr.reg_c_no
	</sql>
	
	<sql id="myCourseSelectSql">
		<!-- SELECT cr.*, c.c_name, ttt.* FROM course_register cr
		inner join course c on cr.reg_c_no = c.c_no
		inner join timetable ttt on ttt.c_no = cr.reg_c_no -->
		SELECT cr.*, c.c_name, ttt.*, t.t_name FROM course_register cr
		inner join course c on cr.reg_c_no = c.c_no
		inner join teacher t on t.t_id = c.t_id
		inner join timetable ttt on ttt.c_no = c.c_no
	</sql>
	
	<sql id="selectRegisteredStudentSql">
		SELECT cr.*, c.c_name, s.*, p.sp_id, p.sp_name, p.sp_phone, sp_relationship FROM course_register cr
		inner join course c on cr.reg_c_no = c.c_no
		inner join student s on cr.reg_s_id = s.s_id
		left outer join parents p on p.s_id = s.s_id
	</sql>
	
	
	
	<sql id="whereSql">
		<where>
			<if test="cNo != 0">
				reg_c_no = #{cNo}
			</if>
			<if test="student != null">
				and reg_s_id =#{student.sId}
			</if>
			<if test="regMonth != 0">
				and reg_month =#{regMonth}
			</if>
			<if test="registrationStatus != null">
				and rs_no =#{registrationStatus.rsNo}
			</if>
		</where>
	</sql>

	<insert id="insertCourseRegister" parameterType="CourseRegister">
		INSERT INTO course_register
		(reg_month, reg_s_id, reg_c_no, rs_no)
		VALUES(#{regMonth}, #{student.sNo}, #{course.cNo}, #{registrationStatus.rsNo})
	</insert>
	
	<update id="updateCourseRegister" parameterType="CourseRegister">
		UPDATE course_register
		<set>
			<if test="student != null">
				reg_s_id=#{student.sId},
			</if>
			<if test="cNo != null">
				reg_c_no= #{cNo},
			</if>
			<if test="regMonth != null">
				reg_month=#{regMonth},
			</if>
			<if test="registrationStatus != null">
				rs_no= #{registrationStatus.rsNo}
			</if>
		</set>
			WHERE reg_no=#{regNo}
	</update>
	
	<update id="cancelCourseRegister">
		UPDATE course_register set
		 rs_no = (SELECT rs_no FROM registration_status where status = #{cancel})
		where reg_no = #{regNo}
	</update>
	
	<select id="selectCourseRegisterByCri" parameterType="CourseRegister" resultMap="CourseRegisterResult">
		<include refid="myCourseSelectSql"/>
		<include refid="whereSql"/>
	</select>
	
	<select id="selectAllCourseRegister" resultMap="CourseRegisterResult">
		<include refid="selectSql"/>
	</select>
	
	<select id="selectRegisteredStudent" resultMap="CourseRegisterResult">
		<include refid="selectRegisteredStudentSql"/>
		<include refid="whereSql"/>
		group by s.s_id, p.sp_id
	</select>
	
	
	
</mapper>