<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.ExaminationMapper">


	<resultMap type="Examination" id="ExaminationResult">
		<id property="eNo" column="e_no"/>
		<result property="sId" column="s_id"/>
		<result property="eResult" column="e_result"/>
		<result property="eMemo" column="e_memo"/>
		<result property="eDate" column="e_date"/>
		<association property="student"
			resultMap="com.dgit.mapper.StudentMapper.StudentResult" />
		<association property="examItem"
			resultMap="com.dgit.mapper.ExamItemMapper.ExamItemResult" />
		<association property="subject"
			resultMap="com.dgit.mapper.SubjectMapper.SubjectResult" />
		<association property="course"
			resultMap="com.dgit.mapper.CourseMapper.CourseResult" />	
	</resultMap>
	
	<sql id="selectSql">
		SELECT e.*, ei.ei_title, c.c_name, s.s_name FROM examination e
		left outer join exam_item ei on e.ei_no = ei.ei_no
		inner join subject sb on sb.sb_no = e.sb_no
		left outer join course c on c.c_no = e.c_no
		left outer join student s on s.s_id = e.s_id
	</sql>
	
	<sql id="selectSqlForTeacher">
		SELECT e.*, ei.ei_title, c.c_name, s.s_name FROM examination e 
		inner join course_register cr on e.s_id = cr.reg_s_id and cr.reg_c_no=#{cNo} and cr.reg_month = #{regMonth}
		left outer join exam_item ei on e.ei_no = ei.ei_no 
		inner join subject sb on sb.sb_no = e.sb_no 
		left outer join course c on c.c_no = e.c_no 
		left outer join student s on s.s_id = e.s_id 
	</sql>
	<sql id="whereSql">
		<where>
			<if test="sId != null">
				e.s_id = #{sId} 
			</if>			
			<if test="examItem != null">
				and e.ei_no = #{examItem.eiNo}
			</if>
			<if test="subject != null">
				and e.sb_no = #{subject.sbNo} and e.ei_no &lt; 5
			</if>
			<if test="course != null">
				and e.c_no = #{course.cNo} and e.ei_no &gt; 4
			</if> 
			<if test="eNo != 0">
				and e.e_no =#{eNo}
			</if>
		</where>
	</sql>
	
	<sql id="whereSqlForTeacher">
		<where>
			<if test="sId != null">
				e.s_id = #{sId} 
			</if>			
			<if test="eiNo != null">
				and e.ei_no = #{eiNo}
			</if>
			<if test="cNo != null and sbNo != null">
				and ((e.sb_no=#{sbNo} and e.c_no =  #{cNo}) or (e.sb_no=#{sbNo} and e.c_no is null))
			</if>
			<if test="cNo != null and sbNo == null">
				and e.c_no = #{cNo}
			</if> 
			<if test="eNo != null">
				and e.e_no =#{eNo}
			</if>
			<if test="eDate != null">
				and e.e_date =date(#{eDate})
			</if>
		</where>
	</sql>
	
	
			

	<insert id="insertExamination">
		INSERT INTO examination (s_id, c_no, ei_no, sb_no, e_result, e_memo, e_date) VALUES 
		(#{sId}, #{course.cNo}, #{examItem.eiNo}, #{subject.sbNo}, #{eResult}, #{eMemo}, now())
	</insert>
	
	
	<update id="updateExamination">
		UPDATE Examination
			<set>
				<if test="sId != null">
					s_id= #{sId},
				</if>
				<if test="course != null">
					c_no=#{course.cNo},
				</if>
				<if test="examItem != null">
					ei_no= #{examItem.eiNo},
				</if>
				<if test="subject != null">
					sb_no= #{subject.sbNo},
				</if>
				<if test="eResult != null">
					e_result=#{eResult},
				</if>
				<if test="eMemo != null">
					e_memo=#{eMemo}
				</if>
			</set>
		WHERE e_no=#{eNo}
	</update>
	
	<delete id="deleteExamination">
		DELETE FROM Examination WHERE e_no=#{eNo}
	</delete>
	
	<select id="selectAllExamination"  resultMap="ExaminationResult">
		<include refid="selectSql"/>
	</select>
	<select id="selectOneExamination"  resultMap="ExaminationResult">
		<include refid="selectSql"/>
		WHERE e_no=#{eNo}
	</select>
	
	<select id="selectExaminationByCri" parameterType="Examination" resultMap="ExaminationResult">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	
	<select id="selectExaminationByCriForTeacher" parameterType="hashmap" resultMap="ExaminationResult">
		<include refid="selectSqlForTeacher"/>
		<include refid="whereSqlForTeacher"/>
		group by e.s_id
	</select>
	
	
</mapper>