<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.MessageMapper">

	<resultMap type="Message" id="MessageResult">
		<id property="msgNo" column="msg_no"/>
		<result property="tId" column="t_id"/>
		<result property="cNo" column="c_no"/>
		<result property="sId" column="s_id"/>
		<result property="spId" column="sp_id"/>
		<result property="msgContent" column="msg_content"/>
		<result property="isChecked" column="is_checked"/>
		<result property="regDate" column="reg_date"/>
		<result property="isSent" column="is_sent"/>
		<association property="teacher" resultMap="com.dgit.mapper.TeacherMapper.TeacherResult"/>
		<association property="student" resultMap="com.dgit.mapper.StudentMapper.StudentResult"/>
		<association property="parents" resultMap="com.dgit.mapper.ParentsMapper.ParentsResult"/>
	</resultMap>

	<sql id="selectSql">
		SELECT m.*, t.t_name, p.sp_name, s.s_name FROM message m
		inner join teacher t on t.t_id = m.t_id
		left outer join student s on s.s_id = m.s_id
		left outer join parents p on p.sp_id = m.sp_id
	</sql>
	
	<sql id="whereSql">
		<where>
			<if test="tId != null">
				m.t_id = #{tId}
			</if>
			<if test="cNo != null">
				<if test="cNo > 0">
					and m.c_no = #{cNo}
				</if>
				<if test="cNo == -1">
					and m.c_no is not null 
				</if>
			</if>
			<if test="sId != null">
				and m.s_id = #{sId}
			</if>
			<if test="spId != null">
				and m.sp_id = #{spId}
			</if>
			<if test="isChecked != null">
				and m.is_checked = 0
			</if>
			<if test="unchecked != null">
				and m.is_checked != 0
			</if>
			<if test="isDel != null">
				and m.is_del = 1
			</if>
			<if test="isAlive != null">
				and m.is_del = 0
			</if>			
			<if test="isSent != null">
				and m.is_sent = #{isSent}
			</if>
		</where>
	</sql>

	<insert id="insertMessage" parameterType="Message">
		INSERT INTO message (t_id, c_no, s_id, sp_id, msg_content, is_checked, reg_date, is_sent) VALUES
		(#{tId}, #{cNo}, #{sId}, #{spId}, #{msgContent}, 0, current_timestamp, 0)
	</insert>
	
	<insert id="insertNotCourseMessage" parameterType="Message">
		INSERT INTO message (t_id, s_id, sp_id, msg_content, is_checked, reg_date, is_sent) VALUES
		(#{tId}, #{sId}, #{spId}, #{msgContent}, 0, current_timestamp, 0)
	</insert>
	
	<update id="updateMessage" parameterType="Message">
		UPDATE message
			<set>
				<if test="tId != null">
					t_id=#{tId},
				</if>
				<if test="cNo != 0">
					c_no = #{cNo},
				</if>
				<if test="sId != null">
					s_id = #{sId},
				</if>
				<if test="spId != null">
					sp_id = #{spId},
				</if>
				<if test="msgContent != null">
					msg_content = #{msgContent},
				</if>
				<if test="isChecked != null">
					is_checked = #{isChecked}
				</if>
				<if test="isSent !=0 ">
					is_sent = #{isSent}
				</if>
			</set>
		WHERE msg_no=#{msgNo}
	</update>
	
	<update id="deleteMessage">
		UPDATE message set is_del = 1 WHERE msg_no=#{msgNo}
	</update>
	
	<update id="updateSendMessage" parameterType="hashmap">
		UPDATE message m set m.is_sent = 1, 
			<if test="sId != null">
				m.s_id = #{sId}
			</if>
			<if test="spId != null">
				m.sp_id = #{spId}
			</if>
	</update>


	<select id="selectAllMessage" resultMap="MessageResult">
		<include refid="selectSql"/>
		order by m.is_checked, m.reg_date desc
	</select>


	<select id="selectOneMessage" resultMap="MessageResult">
		<include refid="selectSql"/>
		WHERE msg_no=#{msgNo}
	</select>
	
	<select id="selectMessageByCri" parameterType="hashmap" resultMap="MessageResult">
		<include refid="selectSql"/>		
		<include refid="whereSql"/>
		order by m.is_checked, m.reg_date desc
		<if test="cnt != null">
			limit #{cnt}
		</if>
	</select>
	
	<select id="selectMessageByCriForSender" parameterType="hashmap" resultMap="MessageResult">
		<include refid="selectSql"/>		
		<include refid="whereSql"/>
		order by m.reg_date desc
		<if test="cnt != null">
			limit #{cnt}
		</if>
	</select>
	
	<select id="selectNewSendMessage" parameterType="hashmap" resultType="int">
		select count(*) from message m
		<where>
			<if test="sId != null">
				m.s_id = #{sId}
			</if>
			<if test="spId != null">
				and m.sp_id = #{spId}
			</if>
			<if test="isSent != null">
				and m.is_sent = 0
			</if>
			<if test="isChecked != null">
				and m.is_checked = 0
			</if>
		</where>
	</select>
	
</mapper>